* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    background-color: #444;

    #container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
        gap: 15px;

        #loading {
            align-self: center;
            justify-self: center;
            color: white;
        }

        .card {
            max-width: 300px;
            padding: 5px;
            align-self: center;
            justify-self: center;
            display: flex;
            flex-direction: column;
            justify-content: start;
            align-items: center;
            background-color: white;
            border-radius: 10px;

            .cardImage {
                width: 100%;
                border-radius: 10px;
                overflow: hidden;

                img {
                    width: 100%;
                }
            }
            .cardBody {
                width: 100%;
                margin-top: 20px;
                text-align: center;
                color: #444;
            }
        }
    }
}
